/*======= google font poppins========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* Wraping container */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 87%;
    height: auto;
    margin: 0 auto;
}
.banner-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0px;
    padding: 0;
    margin-top: 30px;
    background-color: #161616;
    border-radius: 20px;
}
.live-content{
    margin: 40px 20px 40px 40px;
    width: 100%;
    height: 100%;
}
.live-content h1,.live-content p{
    color: #fff;
    padding-left: 10px;
}
.live-content h1{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 70px;
}
.live-content p{
    font-weight: normal;
    font-size: 16px;
}
 .btn-watch{
    background: #DD0000;
    border-radius: 7px;
    margin-top: 40px;
    margin-left: 13px;
    height: 60px;
    width: 200px;
    border: none;
    box-sizing: border-box;
}
.btn-watch a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.image img{
    width: 90%;
    height: 100%;
    margin-left: 30px;

}
/* =============
    blog section
    =============== */

.blog-section{
    display: flex;
    margin-top: 70px;
    gap: 10px;
    margin-bottom: 70px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.blog{
    width: 312px;
    height: 362px;
    box-shadow: 1px 0px 11px gray;
    border-radius: 9px;
}
.blog h4{
    border: 1px solid gray;
    display: inline-block;
    padding: 5px;
    border-radius: 7px;
    margin-left: 18px;
    font-weight: 400;
}
.blog p{
    color: #161616;
    font-weight: 300;
    font-size: 18px;
    padding: 7px;
    margin-left: 15px;
}
.time-cmt{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 18px;
    margin-top: 20px;
}
.time-cmt img{
    margin-right: 10px;
}
.time-cmt span{
    margin-right: 20px;
}

.aside{
    background-color: #161616;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
    margin: 0 auto;
}
.aside .btn{
    background-color: #fff;
    width: 160px;
    height: 64px;
    border-radius: 7px;
    margin: 15px 0;
}
.aside #btn-blog{
    background-color: #DD0000;
    border: none;
}
 #btn-blog a{
    color: #fff;
}
.aside #btn-blog:focus{
    background-color: #DD0000;
}
.aside .btn a{
    text-decoration: none;
    color: #1d1a1a;
    font-size: 16px;
    font-weight: 400;
}

/* ==============
    footer section styling
    ===================== */

footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    background-color: #161616;
    flex-direction: column;
}
footer .title h1{
    color: #fff;
    font-weight: 400;
    font-size: 40px;
}
.horizontal-line{
    background-color: #ffffff9c;
    width:  90%;
    height: 0%;
    margin: 20px 0;
}
footer #settings{
    color: #B9B9B9;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 12px;
}
.social-icon a,i{
    color: #fff;
    font-size: 18px;
    margin: 20px 20px 0px 20px;
}

/* ======================
Media query || css
======================= */

/* Mobile devices  */

@media only screen and (max-width:576px) {
    .banner-container{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .live-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .live-content h1{
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 40px;
    }
    .live-content p{
        text-align: center;
        margin: 0;
        padding: 0 15px;
    }
    .image{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    .blog-section{
        display: flex;
        flex-direction: column;
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
    .aside{
        background-color: #fff;
    }
    .btn{
        border: none;
        box-shadow: 1px 0 11px gray;
    }
    .horizontal-line{
        width: 100%;
    }
    footer{
        display: flex;
        height: auto;
        flex-direction: column;
    }
    .fotter-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social-icon{
        margin-bottom: 30px;
    }
}

/* Tablet Devices  */
@media only screen and (min-width:577px) and (max-width:1200px){
    .live-content p{
        text-align: center;
        margin: 0;
        padding: 0 15px;
    }
    .live-content h1{
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 45px;
    }
    .blog-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blogs{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
        box-sizing: border-box;
    }
    .blog{
        width: 100%;
        height: 100%;
    }
    .blog img{
        width: 100%;
    }
    .time-cmt .icon{
        width: 32px;
        height: 32px;
    }
    .aside{
        background-color: #fff;
        flex-direction: row;
        height: auto;
        width: 478px;
    }
    .aside .btn{
        border: none;
        height: 50px;
    }
}